/* pages/Home.module.css */
.container {
  padding: 20px;
  font-family: sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  align-items: start;
  flex: 1;
}

/* Para telas de Tablet (menores que 1024px) */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Para telas de Celular (menores que 768px) */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .colunaDia {
    margin-bottom: 10px;
  }
}
